# LLM
GROQ_API_KEY=
GROQ_MODEL=

# LangSmith
LANGCHAIN_TRACING_V2=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
LANGCHAIN_ENDPOINT=

# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

# Frontend
BACKEND_URL=http://localhost:8000
